<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChatAIWpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ChatAIWpf.Properties.Settings>
            <setting name="AzureKeyVaultUri" serializeAs="String">
                <value>https://uchi-chataiwpf-kv.vault.azure.net/</value>
            </setting>
            <setting name="AzureClientID" serializeAs="String">
                <value>5deaea0f-acc6-4c71-aa8b-ccf5f1f3a343</value>
            </setting>
            <setting name="AzureTenantID" serializeAs="String">
                <value>39ff9aae-e121-4388-83f4-b66586365fdd</value>
            </setting>
            <setting name="AzureClientSecret" serializeAs="String">
                <value>IoU8Q~P-KiAcFvaEY~08BI~rgyhg_mmyywp~rbIB</value>
            </setting>
        </ChatAIWpf.Properties.Settings>
    </userSettings>
</configuration>