<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChatAIWpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ChatAIWpf.Properties.Settings>
            <setting name="AzureSubscriptionKey" serializeAs="String">
                <value>ca482c7ff03c4e64b4340fb6c826eca6</value>
            </setting>
            <setting name="AzureServiceRegion" serializeAs="String">
                <value>eastus</value>
            </setting>
            <setting name="OpenAIApiKey" serializeAs="String">
                <value>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</value>
            </setting>
        </ChatAIWpf.Properties.Settings>
    </userSettings>
</configuration>