<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<variable name="LogDir" value="${specialFolder:folder=ApplicationData}/MinatoProject/Apps/ChatAIWpf/logs" />
	<variable name="LogDate" value="${date:format=yyyy-MM-dd}" />
	<targets>
		<target name="logfile" xsi:type="File" fileName="${LogDir}/${LogDate}.log" encoding="utf-8"
				maxArchiveFiles="10" archiveNumbering="Sequence" archiveAboveSize="1048576" archiveFileName="${LogDir}/{#######}.a">
			<layout xsi:type="CsvLayout">
				<withHeader>false</withHeader>
				<column name="date" layout="${longdate:format=yyyy/MM/dd HH:mm:ss.ffff}" />
				<column name="threadId" layout="${threadid:paddig=8}" />
				<column name="level" layout="${uppercase:${level:padding=-5}}" />
				<column name="callsite" layout="${callsite}" />
				<column name="message" layout="${message}" />
			</layout>
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="logfile" />
	</rules>
</nlog>